    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is Codenhance?</h2>
            <p class="intro text-center">A collection of tutorials, courses, recommendations and gentle encouragement for biologists seeking to add the word "computational" to their title.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Start from Zero</h3>
                        <p>No computer science background? You can learn to code. Computers hate you? You can learn to code. No idea where to start? Start here.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code-fork"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Write Real Code</h3>
                        <p>You'll use the same (free) tools that professionals use to write real code that runs everywhere -- from your laptop to a supercomputer.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Build a Portfolio</h3>
                        <p>Share your code on GitHub. Get feedback, get motivated, and get better at coding, fast. Amaze your friends and potential employers.
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
