
    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Here's what you'll do:</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i>Set up a scientific computing environment from scratch</li>
                <li><i class="fa fa-check"></i>Download, install, and run software without breaking anything</li>
                <li><i class="fa fa-check"></i>Carry out three computational experiments from start to finish</li>
                <li><i class="fa fa-check"></i>Use over 35 command line programs like it was nothing</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
