    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">You'll Learn:</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Python</li>
                <li><i class="fa fa-check"></i> Git</li>
                <li><i class="fa fa-check"></i> GitHub</li>
                <li><i class="fa fa-check"></i> Vim</li>
                <li><i class="fa fa-check"></i> The command line</li>
            </ul>
	    <p>... all in the process of building and publishing your own tools to analyze genetic sequence data.</p>
        </div><!--//container-->
    </section><!--//features-->
