<!-- ******KICKSTARTER****** --> 
<section id="kickstarter" class="kickstarter section">
<div class="container">
  <h2 class="title text-center">Kickstarter Now Live!</h2>
  <p class="intro text-center">Now's your chance to get early access to "Learn the Command Line ... for Science!" It's a video course for jumpstarting computational science careers.</p>
  <hr />
  <div class="row">
    <div class="item col-md-6">
      <iframe width="480" height="360" src="https://www.kickstarter.com/projects/briandavidhall/learn-the-command-line-for-science/widget/video.html" frameborder="0" scrolling="no"> </iframe>
    </div><!--//item-->
    <div class="item col-md-6">
      <div class="content">
	<h3 class="bottom-padding">Want to take the class? Or just help out?</h3>
	<h4 class="sub-title">1. Back the Project</h4>
	<p>The best way to help is to <a href="http://kck.st/1R7BOIn">back the project on Kickstarter</a>. Even $5 is enough to help out.</p>
      </div><!--//content-->
      <div class="content">
	<h4 class="sub-title">2. Share with the World</h4>
	<p>Click and share to help the scientists in your network gain valuable computational skills:</p>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<div><a class="twitter-share-button"
	    href="https://twitter.com/intent/tweet?text=Brand%20new%20on%20%40Kickstarter%3A%20Learn%20the%20Command%20Line%20...%20for%20Science%21%20via%20_bruab_&url=http%3A%2F%2Fkck.st%2F1R7BOIn"
	    data-size="large">Tweet</a></div>
	<div class="fb-share-button" data-href="http://kck.st/1R7BOIn" data-layout="button"></div>
      </div><!--//content-->
    </div><!--//item-->           
    <div class="clearfix visible-md"></div>    
  </div><!--//row-->            
</div><!--//container-->
</section><!--//about-->
