---
layout: landing_page_1
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}
<body data-spy="scroll">
{% include header.html %}
{% include boot-camp-ebook-promo.html %}

<section class="docs section">
<div class="container">
	<div class="docs-inner">
			{{ content }}
	</div> <!-- docs-inner -->
</div> <!-- container -->
</section>
</body>
</html> 
