---
layout: post
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}
<body data-spy="scroll">
{% include facebook-sdk.html %}
{% include header.html %}
{% include promo.html %}

<section class="docs section">
<div class="container">
<div class="docs-inner">
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <!-- Social sharing -->
  <div class="row">
  <div class="item col-md-4 col-sm-6 col-xs-12">
  <!-- Tweet button -->
  <a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="_bruab_">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <!-- Facebook like button -->
  <div
    class="fb-like"
    data-href="{{ site.url }}/{{ page.url }}"
    data-layout="button"
    data-width="450"
    data-show-faces="true">
  </div>
  <!-- Google + share button -->
  <div class="g-plus" data-action="share" href="{{ site.url }}/{{ page.url }}" data-annotation="none"></div>
  </div> <!-- item -->
  </div> <!-- social sharing row -->

</div> <!-- post -->
</div> <!-- docs-inner -->
</div> <!-- container -->
</section>
{% include get_started.html %}
{% include contact.html %}
{% include footer.html %}
</body>
</html> 
